{
  "openapi": "3.0.3",
  "info": {
    "title": "IOTA JSON-RPC API",
    "description": "IOTA JSON-RPC API for interaction with IOTA full node or indexer. All requests are HTTP POST to the node endpoint. Covers iota_ (Read, Write, Move Utils), iotax_ (Extended, Coin Query, Governance), and unsafe_ (Transaction Builder) method namespaces.",
    "version": "1.26.0-alpha",
    "contact": {
      "name": "IOTA Foundation",
      "email": "info@iota.org",
      "url": "https://docs.iota.org/"
    },
    "license": {
      "name": "Apache-2.0",
      "url": "https://opensource.org/licenses/Apache-2.0"
    },
    "x-openrpc-source": "https://raw.githubusercontent.com/iotaledger/iota/develop/crates/iota-open-rpc/spec/openrpc.json"
  },
  "externalDocs": {
    "description": "IOTA API Reference",
    "url": "https://docs.iota.org/iota-api-ref"
  },
  "servers": [
    {
      "url": "https://api.mainnet.iota.cafe",
      "description": "IOTA Mainnet full node"
    },
    {
      "url": "https://api.testnet.iota.cafe",
      "description": "IOTA Testnet full node"
    },
    {
      "url": "https://api.devnet.iota.cafe",
      "description": "IOTA Devnet full node"
    },
    {
      "url": "https://indexer.mainnet.iota.cafe",
      "description": "IOTA Mainnet indexer (iotax_ methods)"
    },
    {
      "url": "https://indexer.testnet.iota.cafe",
      "description": "IOTA Testnet indexer (iotax_ methods)"
    }
  ],
  "tags": [
    {
      "name": "Read",
      "description": "Core read operations: objects, checkpoints, transactions, events, protocol config"
    },
    {
      "name": "Write",
      "description": "Transaction execution, dry run, and dev inspection"
    },
    {
      "name": "Move Utils",
      "description": "Move smart contract introspection: modules, functions, structs"
    },
    {
      "name": "Extended",
      "description": "Indexer-exclusive methods for advanced queries, events, dynamic fields, IOTA Names"
    },
    {
      "name": "Coin Query",
      "description": "Coin and balance queries: balances, coins list, metadata, supply"
    },
    {
      "name": "Governance",
      "description": "Governance, staking, validator, epoch, and system state queries"
    },
    {
      "name": "Transaction Builder",
      "description": "Build unsigned transactions for transfers, staking, Move calls (unsafe_ prefix)"
    }
  ],
  "paths": {
    "/iota_devInspectTransactionBlock": {
      "post": {
        "operationId": "iota_devInspectTransactionBlock",
        "summary": "iota_devInspectTransactionBlock",
        "description": "Runs the transaction in dev-inspect mode. Which allows for nearly any transaction (or Move call) with any arguments. Detailed results are provided, including both the transaction effects and any return values.",
        "tags": [
          "Write"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "description": "JSON-RPC protocol version"
                  },
                  "id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Request identifier"
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "iota_devInspectTransactionBlock"
                    ],
                    "description": "The JSON-RPC method name"
                  },
                  "params": {
                    "type": "array",
                    "description": "Method parameters",
                    "items": {}
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "iota_devInspectTransactionBlock",
                "params": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "result": {
                      "$ref": "#/components/schemas/DevInspectResults"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/iota_dryRunTransactionBlock": {
      "post": {
        "operationId": "iota_dryRunTransactionBlock",
        "summary": "iota_dryRunTransactionBlock",
        "description": "Return transaction execution effects including the gas cost summary, while the effects are not committed to the chain.",
        "tags": [
          "Write"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "description": "JSON-RPC protocol version"
                  },
                  "id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Request identifier"
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "iota_dryRunTransactionBlock"
                    ],
                    "description": "The JSON-RPC method name"
                  },
                  "params": {
                    "type": "array",
                    "description": "Method parameters",
                    "items": {}
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "iota_dryRunTransactionBlock",
                "params": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "result": {
                      "$ref": "#/components/schemas/DryRunTransactionBlockResponse"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/iota_executeTransactionBlock": {
      "post": {
        "operationId": "iota_executeTransactionBlock",
        "summary": "iota_executeTransactionBlock",
        "description": "Execute the transaction and wait for results if desired. Request types: 1. WaitForEffectsCert: waits for TransactionEffectsCert and then return to    client. This mode is a proxy for transaction finality. 2. WaitForLocalExecution: waits for TransactionEffectsCert and make sure the    node executed the transaction locally before returning the client. The    local execution makes sure this node is aware of this transaction when    client fires subsequent queries. However if the node fails to execute the    transaction locally in a timely manner, a bool type in the response is    set to false to indicated the case. request_type is default to be `WaitForEffectsCert` unless options.show_events or options.show_effects is true",
        "tags": [
          "Write"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "description": "JSON-RPC protocol version"
                  },
                  "id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Request identifier"
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "iota_executeTransactionBlock"
                    ],
                    "description": "The JSON-RPC method name"
                  },
                  "params": {
                    "type": "array",
                    "description": "Method parameters",
                    "items": {}
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "iota_executeTransactionBlock",
                "params": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "result": {
                      "$ref": "#/components/schemas/TransactionBlockResponse"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/iota_getChainIdentifier": {
      "post": {
        "operationId": "iota_getChainIdentifier",
        "summary": "iota_getChainIdentifier",
        "description": "Return the first four bytes of the chain's genesis checkpoint digest.",
        "tags": [
          "Read"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "description": "JSON-RPC protocol version"
                  },
                  "id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Request identifier"
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "iota_getChainIdentifier"
                    ],
                    "description": "The JSON-RPC method name"
                  },
                  "params": {
                    "type": "array",
                    "description": "Method parameters",
                    "items": {}
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "iota_getChainIdentifier",
                "params": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "result": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/iota_getCheckpoint": {
      "post": {
        "operationId": "iota_getCheckpoint",
        "summary": "iota_getCheckpoint",
        "description": "Return a checkpoint",
        "tags": [
          "Read"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "description": "JSON-RPC protocol version"
                  },
                  "id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Request identifier"
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "iota_getCheckpoint"
                    ],
                    "description": "The JSON-RPC method name"
                  },
                  "params": {
                    "type": "array",
                    "description": "Method parameters",
                    "items": {}
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "iota_getCheckpoint",
                "params": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "result": {
                      "$ref": "#/components/schemas/Checkpoint"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/iota_getCheckpoints": {
      "post": {
        "operationId": "iota_getCheckpoints",
        "summary": "iota_getCheckpoints",
        "description": "Return paginated list of checkpoints",
        "tags": [
          "Read"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "description": "JSON-RPC protocol version"
                  },
                  "id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Request identifier"
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "iota_getCheckpoints"
                    ],
                    "description": "The JSON-RPC method name"
                  },
                  "params": {
                    "type": "array",
                    "description": "Method parameters",
                    "items": {}
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "iota_getCheckpoints",
                "params": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "result": {
                      "$ref": "#/components/schemas/Page_for_Checkpoint_and_String"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/iota_getEvents": {
      "post": {
        "operationId": "iota_getEvents",
        "summary": "iota_getEvents",
        "description": "Return transaction events.",
        "tags": [
          "Read"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "description": "JSON-RPC protocol version"
                  },
                  "id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Request identifier"
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "iota_getEvents"
                    ],
                    "description": "The JSON-RPC method name"
                  },
                  "params": {
                    "type": "array",
                    "description": "Method parameters",
                    "items": {}
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "iota_getEvents",
                "params": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Event"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/iota_getLatestCheckpointSequenceNumber": {
      "post": {
        "operationId": "iota_getLatestCheckpointSequenceNumber",
        "summary": "iota_getLatestCheckpointSequenceNumber",
        "description": "Return the sequence number of the latest checkpoint that has been executed",
        "tags": [
          "Read"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "description": "JSON-RPC protocol version"
                  },
                  "id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Request identifier"
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "iota_getLatestCheckpointSequenceNumber"
                    ],
                    "description": "The JSON-RPC method name"
                  },
                  "params": {
                    "type": "array",
                    "description": "Method parameters",
                    "items": {}
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "iota_getLatestCheckpointSequenceNumber",
                "params": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "result": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/iota_getMoveFunctionArgTypes": {
      "post": {
        "operationId": "iota_getMoveFunctionArgTypes",
        "summary": "iota_getMoveFunctionArgTypes",
        "description": "Return the argument types of a Move function, based on normalized Type.",
        "tags": [
          "Move Utils"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "description": "JSON-RPC protocol version"
                  },
                  "id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Request identifier"
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "iota_getMoveFunctionArgTypes"
                    ],
                    "description": "The JSON-RPC method name"
                  },
                  "params": {
                    "type": "array",
                    "description": "Method parameters",
                    "items": {}
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "iota_getMoveFunctionArgTypes",
                "params": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MoveFunctionArgType"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/iota_getNormalizedMoveFunction": {
      "post": {
        "operationId": "iota_getNormalizedMoveFunction",
        "summary": "iota_getNormalizedMoveFunction",
        "description": "Return a structured representation of Move function",
        "tags": [
          "Move Utils"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "description": "JSON-RPC protocol version"
                  },
                  "id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Request identifier"
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "iota_getNormalizedMoveFunction"
                    ],
                    "description": "The JSON-RPC method name"
                  },
                  "params": {
                    "type": "array",
                    "description": "Method parameters",
                    "items": {}
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "iota_getNormalizedMoveFunction",
                "params": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "result": {
                      "$ref": "#/components/schemas/IotaMoveNormalizedFunction"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/iota_getNormalizedMoveModule": {
      "post": {
        "operationId": "iota_getNormalizedMoveModule",
        "summary": "iota_getNormalizedMoveModule",
        "description": "Return a structured representation of Move module",
        "tags": [
          "Move Utils"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "description": "JSON-RPC protocol version"
                  },
                  "id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Request identifier"
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "iota_getNormalizedMoveModule"
                    ],
                    "description": "The JSON-RPC method name"
                  },
                  "params": {
                    "type": "array",
                    "description": "Method parameters",
                    "items": {}
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "iota_getNormalizedMoveModule",
                "params": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "result": {
                      "$ref": "#/components/schemas/IotaMoveNormalizedModule"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/iota_getNormalizedMoveModulesByPackage": {
      "post": {
        "operationId": "iota_getNormalizedMoveModulesByPackage",
        "summary": "iota_getNormalizedMoveModulesByPackage",
        "description": "Return structured representations of all modules in the given package",
        "tags": [
          "Move Utils"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "description": "JSON-RPC protocol version"
                  },
                  "id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Request identifier"
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "iota_getNormalizedMoveModulesByPackage"
                    ],
                    "description": "The JSON-RPC method name"
                  },
                  "params": {
                    "type": "array",
                    "description": "Method parameters",
                    "items": {}
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "iota_getNormalizedMoveModulesByPackage",
                "params": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "result": {
                      "type": "object",
                      "additionalProperties": {
                        "$ref": "#/components/schemas/IotaMoveNormalizedModule"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/iota_getNormalizedMoveStruct": {
      "post": {
        "operationId": "iota_getNormalizedMoveStruct",
        "summary": "iota_getNormalizedMoveStruct",
        "description": "Return a structured representation of Move struct",
        "tags": [
          "Move Utils"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "description": "JSON-RPC protocol version"
                  },
                  "id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Request identifier"
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "iota_getNormalizedMoveStruct"
                    ],
                    "description": "The JSON-RPC method name"
                  },
                  "params": {
                    "type": "array",
                    "description": "Method parameters",
                    "items": {}
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "iota_getNormalizedMoveStruct",
                "params": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "result": {
                      "$ref": "#/components/schemas/IotaMoveNormalizedStruct"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/iota_getObject": {
      "post": {
        "operationId": "iota_getObject",
        "summary": "iota_getObject",
        "description": "Return the object information for a specified object",
        "tags": [
          "Read"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "description": "JSON-RPC protocol version"
                  },
                  "id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Request identifier"
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "iota_getObject"
                    ],
                    "description": "The JSON-RPC method name"
                  },
                  "params": {
                    "type": "array",
                    "description": "Method parameters",
                    "items": {}
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "iota_getObject",
                "params": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "result": {
                      "$ref": "#/components/schemas/IotaObjectResponse"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/iota_getProtocolConfig": {
      "post": {
        "operationId": "iota_getProtocolConfig",
        "summary": "iota_getProtocolConfig",
        "description": "Return the protocol config table for the given version number. If the version number is not specified, If none is specified, the node uses the version of the latest epoch it has processed.",
        "tags": [
          "Read"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "description": "JSON-RPC protocol version"
                  },
                  "id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Request identifier"
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "iota_getProtocolConfig"
                    ],
                    "description": "The JSON-RPC method name"
                  },
                  "params": {
                    "type": "array",
                    "description": "Method parameters",
                    "items": {}
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "iota_getProtocolConfig",
                "params": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "result": {
                      "$ref": "#/components/schemas/ProtocolConfig"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/iota_getTotalTransactionBlocks": {
      "post": {
        "operationId": "iota_getTotalTransactionBlocks",
        "summary": "iota_getTotalTransactionBlocks",
        "description": "Return the total number of transaction blocks known to the server.",
        "tags": [
          "Write"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "description": "JSON-RPC protocol version"
                  },
                  "id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Request identifier"
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "iota_getTotalTransactionBlocks"
                    ],
                    "description": "The JSON-RPC method name"
                  },
                  "params": {
                    "type": "array",
                    "description": "Method parameters",
                    "items": {}
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "iota_getTotalTransactionBlocks",
                "params": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "result": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/iota_getTransactionBlock": {
      "post": {
        "operationId": "iota_getTransactionBlock",
        "summary": "iota_getTransactionBlock",
        "description": "Return the transaction response object.",
        "tags": [
          "Write"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "description": "JSON-RPC protocol version"
                  },
                  "id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Request identifier"
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "iota_getTransactionBlock"
                    ],
                    "description": "The JSON-RPC method name"
                  },
                  "params": {
                    "type": "array",
                    "description": "Method parameters",
                    "items": {}
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "iota_getTransactionBlock",
                "params": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "result": {
                      "$ref": "#/components/schemas/TransactionBlockResponse"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/iota_isTransactionIndexedOnNode": {
      "post": {
        "operationId": "iota_isTransactionIndexedOnNode",
        "summary": "iota_isTransactionIndexedOnNode",
        "description": "Return if the transaction has been indexed on the fullnode.",
        "tags": [
          "Write"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "description": "JSON-RPC protocol version"
                  },
                  "id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Request identifier"
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "iota_isTransactionIndexedOnNode"
                    ],
                    "description": "The JSON-RPC method name"
                  },
                  "params": {
                    "type": "array",
                    "description": "Method parameters",
                    "items": {}
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "iota_isTransactionIndexedOnNode",
                "params": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "result": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/iota_multiGetObjects": {
      "post": {
        "operationId": "iota_multiGetObjects",
        "summary": "iota_multiGetObjects",
        "description": "Return the object data for a list of objects",
        "tags": [
          "Read"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "description": "JSON-RPC protocol version"
                  },
                  "id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Request identifier"
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "iota_multiGetObjects"
                    ],
                    "description": "The JSON-RPC method name"
                  },
                  "params": {
                    "type": "array",
                    "description": "Method parameters",
                    "items": {}
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "iota_multiGetObjects",
                "params": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/IotaObjectResponse"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/iota_multiGetTransactionBlocks": {
      "post": {
        "operationId": "iota_multiGetTransactionBlocks",
        "summary": "iota_multiGetTransactionBlocks",
        "description": "Returns an ordered list of transaction responses The method will throw an error if the input contains any duplicate or the input size exceeds QUERY_MAX_RESULT_LIMIT",
        "tags": [
          "Write"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "description": "JSON-RPC protocol version"
                  },
                  "id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Request identifier"
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "iota_multiGetTransactionBlocks"
                    ],
                    "description": "The JSON-RPC method name"
                  },
                  "params": {
                    "type": "array",
                    "description": "Method parameters",
                    "items": {}
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "iota_multiGetTransactionBlocks",
                "params": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/TransactionBlockResponse"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/iota_tryGetPastObject": {
      "post": {
        "operationId": "iota_tryGetPastObject",
        "summary": "iota_tryGetPastObject",
        "description": "Note there is no software-level guarantee/SLA that objects with past versions can be retrieved by this API, even if the object and version exists/existed. The result may vary across nodes depending on their pruning policies. Return the object information for a specified version",
        "tags": [
          "Read"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "description": "JSON-RPC protocol version"
                  },
                  "id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Request identifier"
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "iota_tryGetPastObject"
                    ],
                    "description": "The JSON-RPC method name"
                  },
                  "params": {
                    "type": "array",
                    "description": "Method parameters",
                    "items": {}
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "iota_tryGetPastObject",
                "params": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "result": {
                      "$ref": "#/components/schemas/ObjectRead"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/iota_tryMultiGetPastObjects": {
      "post": {
        "operationId": "iota_tryMultiGetPastObjects",
        "summary": "iota_tryMultiGetPastObjects",
        "description": "Note there is no software-level guarantee/SLA that objects with past versions can be retrieved by this API, even if the object and version exists/existed. The result may vary across nodes depending on their pruning policies. Return the object information for a specified version",
        "tags": [
          "Read"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "description": "JSON-RPC protocol version"
                  },
                  "id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Request identifier"
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "iota_tryMultiGetPastObjects"
                    ],
                    "description": "The JSON-RPC method name"
                  },
                  "params": {
                    "type": "array",
                    "description": "Method parameters",
                    "items": {}
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "iota_tryMultiGetPastObjects",
                "params": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ObjectRead"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/iota_view": {
      "post": {
        "operationId": "iota_view",
        "summary": "iota_view",
        "description": "Calls a move view function.",
        "tags": [
          "Read"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "description": "JSON-RPC protocol version"
                  },
                  "id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Request identifier"
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "iota_view"
                    ],
                    "description": "The JSON-RPC method name"
                  },
                  "params": {
                    "type": "array",
                    "description": "Method parameters",
                    "items": {}
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "iota_view",
                "params": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "result": {
                      "$ref": "#/components/schemas/IotaMoveViewCallResults"
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/iotax_getAllBalances": {
      "post": {
        "operationId": "iotax_getAllBalances",
        "summary": "iotax_getAllBalances",
        "description": "Return the total coin balance for all coin type, owned by the address owner.",
        "tags": [
          "Coin Query"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "description": "JSON-RPC protocol version"
                  },
                  "id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Request identifier"
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "iotax_getAllBalances"
                    ],
                    "description": "The JSON-RPC method name"
                  },
                  "params": {
                    "type": "array",
                    "description": "Method parameters",
                    "items": {}
                  }
                }
              },
              "example": {
                "jsonrpc": "2.0",
                "id": 1,
                "method": "iotax_getAllBalances",
                "params": []
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful JSON-RPC response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string",
                      "example": "2.0"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Balance"
                      }
                    }
                  }
                }
              }
            }
          },
          "default": {
            "description": "JSON-RPC error response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jsonrpc": {
                      "type": "string"
                    },
                    "id": {
                      "oneOf": [
                        {
                          "type": "integer"
                        },
                        {
                          "type": "string"
                        }
                      ]
                    },
                    "error": {
                      "type": "object",
                      "properties": {
                        "code": {
                          "type": "integer"
                        },
                        "message": {
                          "type": "string"
                        },
                        "data": {}
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/iotax_getAllCoins": {
      "post": {
        "operationId": "iotax_getAllCoins",
        "summary": "iotax_getAllCoins",
        "description": "Return all Coin objects owned by an address.",
        "tags": [
          "Coin Query"
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "jsonrpc",
                  "id",
                  "method"
                ],
                "properties": {
                  "jsonrpc": {
                    "type": "string",
                    "enum": [
                      "2.0"
                    ],
                    "description": "JSON-RPC protocol version"
                  },
                  "id": {
                    "oneOf": [
                      {
                        "type": "integer"
                      },
                      {
                        "type": "string"
                      }
                    ],
                    "description": "Request identifier"
                  },
                  "method": {
                    "type": "string",
                    "enum": [
                      "iotax_getAllCoins"
                    ],
                    "description": "The JSON-RPC method name"
                  },
                  "params": {
                    "type": "array",
                    "description": "Method parameters",
                    "items": {}
                  }
                }
              },
              "example": {
[...]
